/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Sawarabi+Mincho&display&family=Bebas+Neue&display==swap");

/* Fonts */
h1 {
  font-family: "Sawarabi Mincho", sans-serif;
  color: white;
  text-decoration: none;
  margin: 5vh;
}

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 3vh;
}

/* Layout */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  flex: 1;
  background-color: rgba(125, 125, 125, 0.4);
  margin: 5vw;
  box-shadow: 5px 7px 10px rgba(148, 187, 233, 0.4);
  min-height: 100px;
  text-align: center;
}

#page {
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 479px) {
  #page {
    flex-direction: column;
  }
}
